
body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
}

textarea#styled {
    margin: auto;
	width: 100%;
	height: 100vh;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-image: url(bg.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}